.title-component {
    font-family: 'Julius Sans One', sans-serif;

    h1 {
        font-size: 4em;
        &:before {
            content: '';
            height: 55px;
            width: 20p;
            border: 4px solid #DBA5F5;
            display: inline-block;
            transform: translateY(10px);
        }
    }
}